{% load static %}

<!DOCTYPE html>
<html>
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!--CSS-->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  		<link rel="stylesheet" href="{% static 'mystyle.css' %}"/>
		<title>Story9-Yolandaws</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
	<div class="navbar sticky-top bg-light justify-content-center">
		<form id="myform" class="form-inline">
			<div class="input-field">
				<input id="books" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			</div>
			<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search Books</button>
		</form>

		<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal" onclick="topbooks()" id="modals">Top 5 Books!</button>
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Most Liked Books</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
						...
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
		  </div>



	</div>
	<div class="result">
		<table id="demo" class="table">
			<thead class="table-dark">
				<tr>
					<th>No</th>
					<th>Title</th>
					<th>Author</th>
					<th>Cover</th>
					<th>Publisher</th>
					<th>Published Date</th>
					<th>Likes</th>
				</tr>
			</thead>
			<tbody id="content"></tbody>
		</table>
	</div>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="{%static 'myscript.js'%}"></script>
    
</body>
</head>
</html>